<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
      border-right: 1px solid #bbb;
    }
    
    li:last-child {
      border-right: none;
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }

    .container {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    input[type="password"] {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    
    input[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
  <script>
    window.addEventListener('DOMContentLoaded', checkJWTTokenCookie);
  function checkJWTTokenCookie() {
    const logoutLink = document.getElementById('logoutLink');
    const newLogoutLink = logoutLink.cloneNode(true);
    logoutLink.parentNode.replaceChild(newLogoutLink, logoutLink);
    document.getElementById('logoutLink').addEventListener('click', function(event) {
    event.preventDefault();
    if (confirm('Are you sure you want to logout?')){
      document.cookie = 'jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
      window.location.href = this.getAttribute('href'); // Redirect to /admin/user
    }
    });
    const jwtToken = getCookie('jwt'); 
    if (!jwtToken) {
        window.location.href = '/admin'; // Replace '/login' with the URL you want to redirect to
     } else {
      const body = document.getElementById('body');

      body.style.display = '';
    }
  }

   function getCookie(name) {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith(name + '=')) {
          return cookie.substring(name.length + 1);
        }
      }
      return null;
    }


    </script>
   <script>
    async function changePassword(event,ServerURL) {
      event.preventDefault(); // Prevents the default form submission behavior
      console.log(ServerURL);
      // Get the values of the new password and confirm password fields
      const newPassword = document.getElementById('newPassword').value;
      const confirmPassword = document.getElementById('confirmPassword').value;

      // Add your logic for password validation here
      if (newPassword !== confirmPassword) {
        alert("Passwords do not match. Please re-enter.");
        return; // Stop further execution if passwords don't match
      }

      try {
        const response = await fetch(`${ServerURL}/admin/changePassword`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username: 'admin',
            newPassword: newPassword
          })
        });

        if (response.ok) {
            newPassword.value = '';
            confirmPassword.value = '';
          location.reload(); 
          console.log("Password change logic executed successfully.");
        } else {
          console.error('Failed to update password.');
        }
      } catch (error) {
        console.error('Error:', error.message);
      }
     

      // You can also submit the form if needed
      // document.getElementById('changePasswordForm').submit();
    }
  </script>
</head>
<body>
  <ul>
    <li><a  href="/admin/home">Home</a></li>
    <li><a href="/admin/user">Users</a></li>
    <li><a class="active" href="/admin/changePassword">Change Password</a></li>
    <li><a href="/admin" id="logoutLink">Logout</a></li>
  </ul>
  <div class="container">
    <h2>Change Password</h2>
    <form id="changePasswordForm" action="change_password.php" method="post" onsubmit="changePassword(event, '<%= serverURL %>')">
        <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <input type="submit" value="Change Password">
    </form>
  </div>
</body>
</html>
