<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
</head>
<body>
  <h1>Categories</h1>
  <ul>
    <% data.forEach(category => { %>
      <li>
        <h2><%= category.name %></h2>
        <ul>
          <% category.quizzes.forEach(quiz => { %>
            <li>
              <h3><%= quiz.question %></h3>
              <ul>
                <% quiz.options.forEach(option => { %>
                  <li><%= option %></li>
                <% }); %>
              </ul>
              <b><%= quiz.correctionAnwser%></b>
            </li>
          <% }); %>
        </ul>
      </li>
    <% }); %>
  </ul>
</body>
</html>
